language: php

sudo: false

services:
  - redis-server

notifications:
    email:
        on_success: never
        on_failure: always
php:
  - 7.0
  - 7.1
  - 7.2

env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS=""

before_install:
  - travis_retry composer self-update --stable -n
  - composer validate --no-check-all --strict

install:
  - travis_retry composer update --prefer-source $COMPOSER_FLAGS
  - composer require satooshi/php-coveralls --dev

script:
  - composer run phpunit -- --coverage-clover ./tests/logs/clover.xml
  - composer run phpcs
  - composer run phpmd
  - composer run phpcpd

after_script:
  - php vendor/bin/coveralls -v
